# Monitoring Service Environment Variables

# Server
PORT=3001

# TimescaleDB
TIMESCALE_HOST=localhost
TIMESCALE_PORT=5433
TIMESCALE_DB=sparklock_monitoring
TIMESCALE_USER=sparklock
TIMESCALE_PASSWORD=sparklock_secret

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_HAZARD=hazard-events

# MQTT
MQTT_BROKER=mqtt://broker.benax.rw:1883
MQTT_TOPIC=sensors/#
